# Compiled Object files
*.d
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe

# Temporary files and caches
*.cache
*.tmp
*.out

.vscode/
.gitlab-ci-local/

# Build outputs
public/
build/
lib/
bin/
doc/
html/